<html lang="en">
<head>
{{>header}}
</head>
<body class = "container">
 <h1>{{title}}</h1>
 <div>
 {{message}}
 </div>
 <br>
 <div>
 <button type= "button" onclick="location.href='/exercises'">
 Click here to create a training plan
 </button>
 </div>
</body>
</html>